*{
    box-sizing: border-box;
}

ul a{
    text-decoration: none;
    font-size:30px;
    margin: 0%;
    overflow: hidden;
    color: black;
    padding: 20px;
    border: 20px rgb(228, 228, 87);
    
}